<div class="navigator-wrapper">
    <button class="btn main-control-btn"></button>
    <button class="btn register-btn hidden">Register</button>
    <button class="btn accept-friends-btn hidden">Accept friends</button>
    <button class="btn add-to-group hidden">Add to group</button>
</div>
<div class="enjoyer-modal hidden">
    <span class="close-modal"></span>
    <div class="inner">
        <div class="input-wrapper">
            <input id="enjoyer-username" type="text" placeholder="Username">
        </div>
        <div class="input-wrapper">
            <input id="enjoyer-password" type="text" placeholder="Password">
        </div>
        <div class="input-wrapper">
            <button id="enjoyer-submit" class="btn submit-btn">Submit</button>
        </div>
    </div>
</div>